{% extends 'listings/base.html' %}
{% load static %}

{% block content %}
    <style>
        .card {
            height: 100%;
        }

        .card-img-top {
            max-width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .card-title a {
            color: black;
            text-decoration: none;
        }
    </style>
    <h1> Listings &nbsp
    <a href="{% url 'listings' %}" class="btn btn-outline-dark btn-sm back-button">Back</a></h1>
    <form class="d-flex" method="GET" action="{% url 'filter-listings' %}">
        {% csrf_token %}
        <select class="form-select me-2" aria-label="Category" name="category">
            <option selected>All Categories</option>
            <option value="electronics">Electronics</option>
            <option value="dorm_related">Dorm Related</option>
            <option value="clothing_accessories">Clothing and Accessories</option>
            <option value="sports_outdoors">Sports and Outdoors</option>
            <option value="westmont_textbooks">Westmont Textbooks</option>
            <option value="other_books">Other Books</option>
            <option value="music">Music</option>
            <option value="automotive">Automotive</option>
            <option value="other">Other</option>
        </select>
        <button class="btn btn-outline-dark" type="submit">Filter</button>
    </form>
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for item in items %}
            <div class="col">
                <div class="card">
                    <a href="{% url 'show-listing' item.id %}">
                        {% if item.photo %}
                            <img src="{{ item.photo.url }}" class="card-img-top" alt="No image">
                        {% else %}
                            <img src="{% static 'listings/default_image.jpeg' %}"
                                 class="card-img-top" alt="Placeholder Image">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'show-listing' item.id %}" class="text-decoration-none">
                                {{ item.title }}
                            </a>
                        </h5>
                        ${{ item.price }} <br/>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
