{% extends 'listings/base.html' %}
{% load static %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <center>
            <h1 class="card-title">Welcome to Mont Marketplace!</h1>
        </center>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <br/>
    <div class="container">
        <div class="card mb-4" style="background-color: rgba(255, 255, 255, 0.8);">
            <div class="card-body">
                <h4 class="card-title text-center">About</h4>
                <p class="card-text">
                    Mont Marketplace is made exclusively for the Westmont community. It enables students, faculty, and
                    staff to easily buy and sell a broad range of used items and services within the safety and
                    convenience of Westmont’s campus.
                </p>

                <h4 class="card-title text-center">Westmont Verification</h4>
                <p class="card-text">
                    Each user is required to verify their Westmont email so only those
                    affiliated with Westmont can access the site. If you are having trouble verifying your
                    Westmont email, contact westmontmarketplace@gmail.com.
                </p>

                <h4 class="card-title text-center">Posting Guidelines</h4>
                <p class="card-text">
                    Mont Marketplace strictly prohibits the posting of inappropriate content,
                    including but not limited to weapons and other harmful items or images. Any violation of
                    this policy will result in immediate account deactivation and permanent exclusion from using
                    the platform.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="card mb-4" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="card-body text-center">
                        <h5 class="card-title">Sell an Item</h5>
                        <p class="card-text">Click below to create a new listing for an item you want to sell.</p>
                        <a href="{% url 'create-listing' %}" class="btn btn-dark">Create Listing</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="card mb-4" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="card-body text-center">
                        <h5 class="card-title">View Items for Sale</h5>
                        <p class="card-text">Browse through all available listings to find items you're interested
                            in.</p>
                        <a href="{% url 'listings' %}" class="btn btn-dark">View Listings</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="card mb-4" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="card-body text-center">
                        <h5 class="card-title">My Listings</h5>
                        <p class="card-text">View and manage the listings you've created.</p>
                        <a href="{% url 'my-listings' %}" class="btn btn-dark">My Listings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
