{% extends 'listings/base.html' %}
{% load static %}

{% block content %}
<style>
    .card {
        height: 100%;
    }

    .card-img-top {

        max-width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .card-title a {
        color: black;
        text-decoration: none;
    }
</style>
	<center>
    {% if searched %}
        <h4> Your search: {{ searched }}</h4>
        <br/>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for item in items %}
            <div class="col">
        <div class="card">
            <a href="{% url 'show-listing' item.id %}">
                {% if item.photo %}
                    <img src="{{ item.photo.url }}" class="card-img-top" alt="No image">
                {% else %}
                    <img src="{% static 'listings/../../static/listings/default_image.jpeg' %}" class="card-img-top" alt="Placeholder Image">
                {% endif %}
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'show-listing' item.id %}" class="text-decoration-none">
                        {{ item.title }}
                    </a>
                </h5>
                ${{ item.price }} <br/>
                <div class="fw-light">Seller | {{ item.seller.first_name }} {{ item.seller.last_name }}<br/></div>
                <div class="fw-light">Email | {{ item.seller.email }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    {% else %}
        <h1> Hey! You forgot to search for an item...</h1>
    {% endif %}

		<br/>

	</center>
{% endblock %}
