{% extends 'listings/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">{{ listing.title }}</h1>
                <h4 class="text-center">${{ listing.price }}</h4>

                <div class="text-center mb-4">
                    {% if listing.photo %}
                        <img src="{{ listing.photo }}" class="img-fluid rounded max-img-size" alt="Listing Image">
                    {% else %}
                        <img src="{% static '/listings/../../static/listings/default_image.jpeg' %}"
                             class="img-fluid rounded max-img-size" alt="Placeholder Image">
                    {% endif %}
                </div>
                <div class="container">
                    <div class="row" align="left">
                        <div class="col">
                            <strong>Condition: </strong>{{ listing.get_condition_display }}
                        </div>
                        <div class="col">
                            <strong>Category: </strong>{{ listing.get_category_display }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="mb-4">
                    <h5>Description</h5>
                    <p>{{ listing.description }}</p>
                </div>
                <hr>
                <div>
                    <h5>Seller Information</h5>
                    <ul class="list-unstyled">
                        <li>{{ listing_seller.first_name }} {{ listing_seller.last_name }}</li>
                        <li>{{ listing_seller.email }}</li>
                        <li>{{ listing_seller.montuser.phone }}</li>

                    </ul>
                    {% if user.id == listing.seller %}
                        <a href="{% url 'update-listing' listing.id %}" class="btn btn-outline-dark">Edit</a>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                            Delete
                        </button>
                        <br/>

                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Confirm Deletion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete your listing? This action cannot be reversed.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel
                                        </button>
                                        <a href="{% url 'delete-listing' listing.id %}" class="btn btn-outline-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}

<style>
    .max-img-size {
        width: auto;
        max-height: 300px;
    }
</style>
