body {
    background-image: url('home/home_image_main.jpeg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    body {
        background-size: contain;
    }
}
