body {
    background-image: url('home/home_image_main.jpeg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 0;
    padding: 0;
}
